a:not([href]):not([tabindex]) {
    text-decoration: underline;
    cursor: pointer;
    color: #1565C0;
    }
    .comment-card-title{
    display: flex;
    justify-content: space-between;
    }
    .comment-card {
    margin: 10px 0 15px 0;
    }
    .full-width {
    width: 100%;
    }

    h1{

        margin-top: 25px;
        margin-bottom: 10px;
        text-align: center;
        color: rgb(41, 185, 185);
        font-size: 3em;
        font-weight: bolder;
        


    }

    #PComment{

        background-color: rgb(40, 170, 170);

    }